YTDownloader MP3 REQUIREMENTS:
    - ffmpeg (sudo apt install ffmpeg <- IF YOU'RE IN UBUNTU AND DERIVATIVES, IN WINDOWS YOU NEED TO DOWNLOAD A BUILD AND ADD THE BIN PATH TO AMBIENT VARIABLES)
    - any other OS (tested on Linux and Windows)

YTDownloader MP4 REQUIREMENTS:
    - requirements.txt (pip requirements)
    - any other OS (tested on Linux and Windows, not in Darwin)