YTDownloader MP3 REQUIREMENTS:
    - ffmpeg (sudo apt install ffmpeg <- IF YOU'RE IN UBUNTU AND DERIVATIVES)
    - a linux OS

YTDownloader MP4 REQUIREMENTS:
    - requirements.txt (pip requirements)
    - any other OS (not tested in Windows and Darwin)